body {
  font-family: "Montserrat", sans-serif; }
  body a {
    text-decoration: none; }

.mascara {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }

.boton {
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 1rem 3rem;
  text-align: center;
  border: none;
  display: block;
  flex: 0 0 auto; }

@media (min-width: 768px) {
  .boton {
    font-size: 1.2rem;
    display: inline-block;
    flex: 0 0 auto; } }

.botonPrimario {
  background-color: #F2D6A2;
  color: #39364E; }

.botonPrimario:hover {
  color: #000; }

.botonSecundario {
  background-color: #39364E;
  color: #F2D6A2; }

.botonSecundario:hover {
  color: #fff; }

.btnContacto {
  width: 100%;
  font-size: 0.9rem; }
  @media (min-width: 770px) {
    .btnContacto {
      width: 45%;
      font-size: 1.2rem; } }

.navbar {
  background-color: #39364E; }
  .navbar a img {
    width: 50px;
    height: 50px; }
  .navbar a h1 {
    color: #fff; }
    .navbar a h1 span {
      color: #F2D6A2; }
  .navbar .dropdown-menu {
    background-color: #F2D6A2; }

.imagenHeader {
  background-image: url(../img/banner/bannerheader.jpg);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .imagenHeader h2 {
    color: #fff; }
  .imagenHeader p {
    color: #F2D6A2; }

.footer {
  background-color: #39364E; }
  .footer .contenidoFooter .contenidoFooter__texto h2 {
    color: #fff; }
    .footer .contenidoFooter .contenidoFooter__texto h2 span {
      color: #F2D6A2; }
  .footer .contenidoFooter .contenidoFooter__texto .contenidoFooter__texto--bl {
    color: #F2D6A2;
    font-size: 0.8rem; }
  .footer .contenidoFooter .contenidoFooter__texto .contenidoFooter__texto--sc {
    color: #fff;
    font-size: 0.8rem; }
  .footer .contenidoFooter__nav p {
    color: #F2D6A2; }
  .footer .contenidoFooter__nav ul {
    color: #F2D6A2; }
    .footer .contenidoFooter__nav ul li a {
      color: #fff; }
  .footer .contenidoFooter__newsletter p {
    color: #F2D6A2; }

.contenedorNosotros {
  background-color: #39364E; }
  .contenedorNosotros h2 {
    color: #F2D6A2; }
  .contenedorNosotros h3 {
    color: #F2D6A2; }
  .contenedorNosotros p {
    color: #fff;
    line-height: 1.7;
    font-style: italic; }

.contenedorProductos {
  background-color: #F2D6A2; }
  .contenedorProductos h2 {
    color: #39364E; }
  .contenedorProductos h3 {
    color: #F2D6A2; }
  .contenedorProductos .anuncio {
    background-color: #39364E;
    margin: 1rem 0.7rem;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.38); }
    .contenedorProductos .anuncio .anuncio__texto {
      color: #fff; }
      .contenedorProductos .anuncio .anuncio__texto .anuncio__texto--sc {
        color: #F2D6A2; }
    .contenedorProductos .anuncio a {
      font-size: 0.8rem; }
      @media (min-width: 992px) {
        .contenedorProductos .anuncio a {
          font-size: 1rem; } }
    .contenedorProductos .anuncio .sombraDentro {
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38) inset;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38) inset;
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38) inset; }

.contenedorContactanos {
  background-image: url(../img/banner/bannercontacto.jpg);
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .contenedorContactanos .contactanosContenido {
    height: 100%;
    width: 100%; }
    .contenedorContactanos .contactanosContenido h2 {
      color: #fff;
      font-size: 1.2rem; }
      @media (min-width: 450px) {
        .contenedorContactanos .contactanosContenido h2 {
          font-size: 2rem; } }
    .contenedorContactanos .contactanosContenido p {
      color: #F2D6A2;
      font-size: 0.8rem; }
      @media (min-width: 450px) {
        .contenedorContactanos .contactanosContenido p {
          font-size: 1rem; } }

.contenedorInferior {
  background-color: #F2D6A2; }
  .contenedorInferior h2 {
    color: #39364E; }
  .contenedorInferior h3 {
    color: #39364E; }
  @media (min-width: 1024px) {
    .contenedorInferior .seccionInferior {
      display: flex;
      justify-content: space-between; } }
  .contenedorInferior .seccionInferior .seccionBlog {
    flex-basis: 60%; }
    .contenedorInferior .seccionInferior .seccionBlog h3 {
      text-align: center; }
      @media (min-width: 1024px) {
        .contenedorInferior .seccionInferior .seccionBlog h3 {
          text-align: start; } }
    @media (min-width: 768px) {
      .contenedorInferior .seccionInferior .seccionBlog .blogEntrada {
        margin-bottom: 3.3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; } }
    @media (min-width: 768px) {
      .contenedorInferior .seccionInferior .seccionBlog .blogEntrada .blogEntrada__imagen {
        flex-basis: 40%; } }
    .contenedorInferior .seccionInferior .seccionBlog .blogEntrada .blogEntrada__contenido {
      flex-basis: calc(60% - 3rem); }
      .contenedorInferior .seccionInferior .seccionBlog .blogEntrada .blogEntrada__contenido h4 {
        margin-top: 2rem;
        color: #39364E; }
        @media (min-width: 768px) {
          .contenedorInferior .seccionInferior .seccionBlog .blogEntrada .blogEntrada__contenido h4 {
            margin-top: 0; } }
      .contenedorInferior .seccionInferior .seccionBlog .blogEntrada .blogEntrada__contenido h4::after {
        content: "";
        display: block;
        width: 15rem;
        height: .5rem;
        background-color: #C1AB81;
        margin-top: 1rem; }
      .contenedorInferior .seccionInferior .seccionBlog .blogEntrada .blogEntrada__contenido .blogEntrada__contenido--pr {
        color: #000; }
        .contenedorInferior .seccionInferior .seccionBlog .blogEntrada .blogEntrada__contenido .blogEntrada__contenido--pr span {
          color: #39364E; }
  .contenedorInferior .seccionInferior .testimoniales {
    flex-basis: calc(40% - 2rem); }
    .contenedorInferior .seccionInferior .testimoniales h3 {
      text-align: center; }
      @media (min-width: 1024px) {
        .contenedorInferior .seccionInferior .testimoniales h3 {
          text-align: start; } }
    .contenedorInferior .seccionInferior .testimoniales .testimoniales__contenido {
      background-color: #39364E;
      padding: 2rem;
      border-radius: 2rem;
      box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.54);
      -webkit-box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.54);
      -moz-box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.54); }
      .contenedorInferior .seccionInferior .testimoniales .testimoniales__contenido blockquote {
        color: #F2D6A2;
        font-style: italic;
        position: relative;
        padding-left: 5rem;
        font-weight: 300;
        font-size: 1.2rem; }
        @media (min-width: 500px) {
          .contenedorInferior .seccionInferior .testimoniales .testimoniales__contenido blockquote {
            font-size: 1.8rem; } }
      .contenedorInferior .seccionInferior .testimoniales .testimoniales__contenido p {
        color: #fff;
        text-align: right; }

.contenedorExperiencia {
  background-color: #F2D6A2; }
  .contenedorExperiencia h2 {
    color: #39364E; }
  .contenedorExperiencia h3 {
    color: #F2D6A2; }
  .contenedorExperiencia .experienciaTexto {
    line-height: 2; }

.contenedorUbicacion {
  background-color: #F2D6A2; }
  .contenedorUbicacion h2 {
    color: #39364E; }
  .contenedorUbicacion h3 {
    color: #F2D6A2; }
  .contenedorUbicacion .ubicacion .ubicacion__mapa {
    height: 20rem; }
  .contenedorUbicacion .ubicacion .ubicacion__contenido {
    background-color: #39364E;
    border-radius: 0; }
    @media (min-width: 576px) {
      .contenedorUbicacion .ubicacion .ubicacion__contenido {
        border-radius: 1rem; } }
    .contenedorUbicacion .ubicacion .ubicacion__contenido .ubicacion__contenido--pr {
      font-size: 1rem;
      color: #F2D6A2; }
    .contenedorUbicacion .ubicacion .ubicacion__contenido .ubicacion__contenido--ng {
      color: #fff; }

.contenedorBlog {
  background-color: #F2D6A2; }
  .contenedorBlog h2 {
    color: #39364E; }
  .contenedorBlog h3 {
    color: #39364E; }
  .contenedorBlog .contenedorSmall {
    width: 60%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .contenedorBlog .contenedorSmall .blogEntrada {
        margin-bottom: 3.3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; } }
    @media (min-width: 768px) {
      .contenedorBlog .contenedorSmall .blogEntrada .blogEntrada__imagen {
        flex-basis: 40%; } }
    .contenedorBlog .contenedorSmall .blogEntrada .blogEntrada__contenido {
      flex-basis: calc(60% - 3rem); }
      .contenedorBlog .contenedorSmall .blogEntrada .blogEntrada__contenido h4 {
        margin-top: 2rem;
        color: #39364E; }
        @media (min-width: 768px) {
          .contenedorBlog .contenedorSmall .blogEntrada .blogEntrada__contenido h4 {
            margin-top: 0; } }
      .contenedorBlog .contenedorSmall .blogEntrada .blogEntrada__contenido h4::after {
        content: "";
        display: block;
        width: 10rem;
        height: .5rem;
        background-color: #C1AB81;
        margin-top: 1rem; }
      .contenedorBlog .contenedorSmall .blogEntrada .blogEntrada__contenido .blogEntrada__contenido--pr {
        color: #000; }
        .contenedorBlog .contenedorSmall .blogEntrada .blogEntrada__contenido .blogEntrada__contenido--pr span {
          color: #39364E; }

.contenedorContacto {
  background-color: #F2D6A2; }
  .contenedorContacto h2 {
    color: #39364E; }
  .contenedorContacto h3 {
    color: #F2D6A2; }
  .contenedorContacto .formulario p {
    font-size: 1.2rem;
    color: #39364E; }
    @media (min-width: 768px) {
      .contenedorContacto .formulario p {
        font-size: 2rem; } }
  .contenedorContacto .formulario fieldset {
    border-radius: 1%;
    box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.54);
    background-color: #39364E; }
    .contenedorContacto .formulario fieldset .formulario__input {
      padding: 0.5rem 0; }
      .contenedorContacto .formulario fieldset .formulario__input .formulario__input--espacio {
        padding-bottom: 0.5rem; }
      .contenedorContacto .formulario fieldset .formulario__input a {
        color: #fff; }
    .contenedorContacto .formulario fieldset legend, .contenedorContacto .formulario fieldset label {
      color: #F2D6A2; }
    .contenedorContacto .formulario fieldset input, .contenedorContacto .formulario fieldset select, .contenedorContacto .formulario fieldset textarea {
      background-color: #fff; }
    .contenedorContacto .formulario fieldset .textoBlanco {
      color: #fff; }

.contenedorProducto {
  background-color: #F2D6A2; }
  .contenedorProducto h2 {
    color: #39364E; }
  .contenedorProducto h3 {
    color: #39364E; }
  .contenedorProducto .producto .producto__imagen:hover {
    transform: scale(1.1); }
  .contenedorProducto .producto .producto__contenido .producto__contenido--bold {
    color: #39364E; }
  .contenedorProducto .producto .producto__contenido .producto__contenido--descripcion {
    line-height: 1.8; }
  .contenedorProducto .producto ul li {
    padding: 0.5rem 0;
    color: #000;
    font-style: italic; }
    .contenedorProducto .producto ul li span {
      font-weight: 700;
      font-style: normal; }

.contenedorEntrada {
  background-color: #F2D6A2; }
  .contenedorEntrada h2 {
    color: #39364E; }
  .contenedorEntrada h3 {
    color: #39364E; }
  .contenedorEntrada .entradaTexto .entradaTextoPr {
    color: #39364E; }
  .contenedorEntrada .entradaTexto .entradaTextoLh {
    line-height: 2; }
