.footer {
    background-color: $primario;
    .contenidoFooter {
        .contenidoFooter__texto {
            h2 {
                color: $blanco;
                span {
                    color: $secundario;
                }
            }
            .contenidoFooter__texto--bl {
                color: $secundario;
                font-size: 0.8rem;
            }
            .contenidoFooter__texto--sc {
                color: $blanco;
                font-size: 0.8rem;
            }
        }
    }
    .contenidoFooter__nav {
        p {
            color: $secundario;
        }
        ul {
            color: $secundario;
            li {
                a{
                    color: $blanco;
                }
            }
        }
    }
    .contenidoFooter__newsletter {
        p {
            color: $secundario;
        }
    }
}