@mixin contenedor($bgColor, $colorH2, $colorH3) {
    background-color: $bgColor;
    h2 {
        color: $colorH2;
    }
    h3 {
        color:$colorH3;
    }
}
@mixin size($width, $height) {
    height: $height;
    width: $width;
}

body {
    font-family: $fuentePrincipal;
    a {
        text-decoration: none;
    }
}
.mascara {
    background-color: rgba($color: #000000, $alpha: 0.5);
    @include size(100%, 100%);
}
.boton {
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 auto;
}
@media (min-width: 768px) {
    .boton {
        font-size: 1.2rem;
        display: inline-block;
        flex: 0 0 auto;
    }
}
.botonPrimario {
    background-color: $secundario;
    color: $primario;
}
.botonSecundario {
    background-color: $primario;
    color: $secundario;
}
.btnContacto {
    width: 100%;
    font-size: 0.9rem;
    @media (min-width: 770px) {
        width: 45%;
        font-size: 1.2rem;
    }
}
 