.navbar {
    background-color: $primario;
    a {
        img {
            width: 50px;
            height: 50px;
        }
        h1 {
            color: $blanco;
            span {
                color: $secundario;
            }
        }
    }
    .dropdown-menu {
        background-color: $secundario;
    }
}
.imagenHeader {
    background-image:url(../img/banner/bannerheader.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    h2 {
        color: $blanco;
    }
    p {
        color: $secundario;
    }
}